<header aria-label="Site header" class="header" id="header" role="banner">
      {{ page.site_branding }}
     {{ page.primary_menu }}
</header>
<section class="featured" id="featured" role="complementary">
  <div class="nav">
   {{ page.secondary_menu }}
   </div>
</section>
<section class="main" id="main">
   <main aria-label="Site main content" class="content" id="content" role="main">
     {{ page.content }}
   </main>
   <aside class="right--sidebar" id="sidebar" role="complementary">
     {{ page.right_sidebar }}
   </aside>
</section>
<footer aria-label="Site footer" class="footer" id="footer" role="contentinfo">
   <div class="footer--top">
     {{ page.footer_first }}
     {{ page.footer_second }}
     {{ page.footer_third }}
   </div>
   <div class="footer--bottom">
       {{ page.footer_bottom }}
   </div>
</footer>