.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: #6173F1;
   }
   
   .header.region {
    padding: 5px;
   }
   
   
   .header.region-branding {
    flex: 0 1 20%;
    height: 50px;
   }
   
   
   .header.region-navigation {
    flex: 0 1 50%;
   }

   
   .header.region-search {
    flex: 0 1 30%;
   }
   
   
   .region.block-region {
    padding: 15px;
   }
   
   
   .featured{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    line-height: 60px;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
   }

   
   ul.menu{
       flex:8 !important;
   }

   .main{
       width: 100%;
       margin: auto;
    display: flex;
    justify-content: space-between;
   }
   
   
   .main.content {
    flex: 0 1 65%;
   }
   
   
   .main.right--sidebar {
    flex: 0 1 30%;
   }
   
   
   .footer--top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
   }
   
   
   .footer--top .region {
    padding: 5px;
   }
   
   
   .region-footer-first, .region-footer-second, .region-footer-third {
    flex: 0 1 30%;
   }


